*.pyc
__pycache__
.idea/

*.mp4
*.mp3
*.wav
*.avi
*.jpg

*.pth
*.caffemodel

/videoClip


HAR/MainCode/data/kinetics700/

# PFD ignore
keypoint_model
pfd_dataset
pfd_video_dataset
custom_dataset
__pycache__