*.pyc
__pycache__
.idea/

*.mp4
*.mp3
*.wav
*.avi
*.jpg

*.pth
*.caffemodel

/videoClip

*.npy
*.pkl
*.zip

HAR/MainCode/data/kinetics700/

# PFD ignore
__pycache__
assets

# Android
.gradle
**/raw
**/assets
ml
opencv
harLib
*.apk